@charset "UTF-8";

article, aside, footer, header, main, nav, section {
	display: block;
}

html, body, h1, h2, h3, h4, h5, h6, ul, li, a, p,
article, aside, footer, header, main, nav, section {	
	padding: 0;
	margin: 0;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

header {
	background-color: #82A1FF;
	color: white;
	padding: 15px 20px;
}

body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F0F0F0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
}

nav {
	background-color: #20416C;
	padding: 10px;
	border-radius: 0px 0px 10px 10px;
}

nav li {
	color: white;
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 15px;
	font-weight: bold;
}

nav li a {
	color: white;
	text-decoration: none;
}

nav li a:hover {
	color: lightgray;
}

.currentpage {
	background-color: #82A1FF;
	border-radius: 5px;
}

aside li {
	list-style-type: none;
}

section {
	background-color: #C8D0D8;
	background-color: #C0C8D0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 10px;
}

article {
	background-color: white;
	margin-top: 10px;
	padding: 10px 15px;
	border-radius: 5px;
}

main {
	width: 760px;
	float: right;
}

.fullwidth {
	width: 960px;
	float: none;
}

aside {
	background-color: #BBBBBB;
	width: 170px;
	float: left;
	padding: 10px;
	margin-top: 5px;
}

footer {
	clear: both;
	background-color: #20416C;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
	margin-bottom: 5px;
}

footer p {
	font-size: 12px;
}

footer p a {
	color: white;
}

footer p a:hover {
	color: lightgray;
}

th {
	text-align: left;
	vertical-align: bottom;
}

td {
	text-align: left;
	vertical-align: top;
}

ul {
	list-style-position: inside;
}
