<section>
	<h2>Instruction Set</h2>
	<article>
		<h3>Arithmetic</h3>
		<ul>
			<li><a href="{{ site.baseurl }}/instruction-set/adc.html">ADC</a></li>
			<li><a href="{{ site.baseurl }}/instruction-set/add.html">ADD</a></li>
			<li>CP</li>
			<li>DAA</li>
			<li>DEC</li>
			<li>INC</li>
			<li>MLT</li>
			<li>NEG</li>
			<li>SBC</li>
			<li>SUB</li>
		</ul>
	</article>
	<article>
		<h3>Bit Shifts</h3>
		<ul>
			<li>RL</li>
			<li>RLA</li>
			<li>RLC</li>
			<li>RLCA</li>
			<li>RR</li>
			<li>RRA</li>
			<li>RRC</li>
			<li>RRCA</li>
			<li>RRD</li>
			<li>SLA</li>
			<li>SRA</li>
			<li>SRL</li>
		</ul>
	</article>
	<article>
		<h3>Bit Manipulation</h3>
		<ul>
			<li>BIT</li>
			<li>RES</li>
			<li>SET</li>
		</ul>
	</article>
	<article>
		<h3>Stuff That Deals With Lots of Data</h3>
		<ul>
			<li>CPD</li>
			<li>CPDR</li>
			<li>CPI</li>
			<li>CPIR</li>
			<li>LDD</li>
			<li>LDDR</li>
			<li>LDI</li>
			<li>LDIR</li>
		</ul>
	</article>
	<article>
		<h3>Memory Stuff</h3>
		<ul>
			<li>EX</li>
			<li>EXX</li>
			<li>LD</li>
			<li>LEA</li>
			<li>PEA</li>
			<li>POP</li>
			<li>PUSH</li>
		</ul>
	</article>
	<article>
		<h3>Logic</h3>
		<ul>
			<li>AND</li>
			<li>CPL</li>
			<li>OR</li>
			<li>TST</li>
			<li>XOR</li>
		</ul>
	</article>
	<article>
		<h3>"Processor Control Instructions"</h3>
		<ul>
			<li>CCF</li>
			<li>DI</li>
			<li>EI</li>
			<li>HALT</li>
			<li>IM</li>
			<li>NOP</li>
			<li>RSMIX</li>
			<li>SCF</li>
			<li>SLP</li>
			<li>STMIX</li>
		</ul>
	</article>
	<article>
		<h3>Program Flow</h3>
		<ul>
			<li>CALL</li>
			<li>DJNZ</li>
			<li>JP</li>
			<li>JR</li>
			<li>RET</li>
			<li>RETI</li>
			<li>RETN</li>
			<li>RST</li>
		</ul>
	</article>
	<article>
		<h3>Unsorted/Undocumented</h3>
		<ul>
			<li>IN0</li>
			<li>IN</li>
			<li>IND2</li>
			<li>IND2R</li>
			<li>IND</li>
			<li>INDM</li>
			<li>INDMR</li>
			<li>INDR</li>
			<li>INI2</li>
			<li>INI2R</li>
			<li>INI</li>
			<li>INIM</li>
			<li>INIMR</li>
			<li>INIR</li>
			<li>ORI2R</li>
			<li>OTD2</li>
			<li>OTD2R</li>
			<li>OTD</li>
			<li>OTDM</li>
			<li>OTDMR</li>
			<li>OTDR</li>
			<li>OTI2</li>
			<li>OTI</li>
			<li>OTIM</li>
			<li>OTIMR</li>
			<li>OTIR</li>
			<li>OUT0</li>
			<li>OUT</li>
			<li>TSR</li>
		</ul>
	</article>
</section>
